<html>
<body>
<div>
Hello ${user.firstname} ${user.lastname},<br><br> 

Your payment has been processed successfully. You will receive an email from our Payment Gateway, CCAvenue, with 
details related to your payment. The charges will be billed to your Card / Bank Statement as CCAVENUE.COM/CHARGE 
<br><br> 

Thank you,<br><br> 

FriendsOfBooks&#0153;<br>
Web: <a href="http://www.friendsofbooks.com">http://www.friendsofbooks.com</a><br> 
Email: cs@friendsofbooks.com<br>

</div>
</body>

</html>